.news {

    padding-top: 120px;
    padding-bottom: 120px;
    background: linear-gradient(90deg, rgba(36,204,250,1) 10%, rgba(60,127,212,0.7049194677871149) 66%);

    .container {

        .slider-news {
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 90px;
            padding-top: 30px;
        }

        .line::before {
            top: 0px;
        }

        h3 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 25px;
        }

    }

    
}