.footer {
    
    background: linear-gradient(90deg, rgba(85,183,255,0.62) 10%, rgba(126,90,255,0.73) 66%);

    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 150px;
        padding-bottom: 100px;
/////FORM
        .form {
            width: 300px;
            position: absolute;
            display: flex;
            flex-direction: column;
            top: -270px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: #FFFFFF;
            background-image: url(/img/bg-form.png);
            background-position: 50%;
            padding: 20px;

            .line {
                width: 100px;
                height: 1px;
                background-color: #000000;
                margin: 0 auto;
                margin-bottom: 10px;
            }

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 34px;
                text-align: center;
                color: #2C4058;
                margin-bottom: 20px;
            }

            .address-list li {
                text-decoration: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                color: #000000;
                margin-bottom: 15px;

                @media only screen and (max-width: 320px) {
                    font-size: 12px;
                }

                svg {
                    width: 12px;
                    height: 12px;
                    fill: #7E5AFF;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    color: #000000;

                    @media only screen and (max-width: 320px) {
                        font-size: 12px;
                    }
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;

                input {
                    margin-bottom: 15px;
                }

                input[type=text] {
                    width: 90%;
                    padding: 12px;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid rgb(161, 159, 159);
                    color: #a19f9f;

                  }

                input[type=email] {
                    width: 90%;
                    padding: 12px;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid #a19f9f;
                    color: #a19f9f;
                  }

                button {
                    width: 140px;
                    height: 50px;
                    background-color: transparent;
                    font-family: 'Montserrat';
                    border: 1px solid #000;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #000000;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #55B7FF;
                    border: unset;
                    color: #fff;
        
                }
            }
        }
//////
        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;

            @media only screen and (max-width: 320px) {
                margin-bottom: 15px;
            }
        } 

        img {
            width: 150px;
            height: 35px;
            margin-bottom: 21px;
        }

        .icon-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &__item:not(:last-child) {
                margin-right: 5px;
            }
            
            .icon {
                width: 40px;
                height: 40px;
            }
        }

    }

}