.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  ///COLORS 


  $white: #FFFFFF;
  $black: #000;
  $lightblue: #55B7FF;
  $darkBlue: #2C4058;
 
  