.footer {

    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 200px;
        padding-bottom: 234px;

        .form {
            width: 770px;
            padding: 60px;

            .form-inputs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            h3 {
                font-size: 44px;
                margin-bottom: 42px;
            }

            .line::before {
                top: 30px;
            }

            .address-list li:not(:last-child) {
                margin-bottom: 35px;
            }

            .address-list li:last-child {
                margin-bottom: 0;
            }

            .inputs {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                input {
                    margin-bottom: 15px;
                }

                input[type=text] {
                    width: 310px;
                    margin-bottom: 30px;
                  }

                input[type=email] {
                    width: 310px;
                    margin-bottom: 30px;
                  }
            }
        } 

        img {
            margin-bottom: 40px;
            cursor: pointer;
        }
        
        .icon-list {
            
            &__item:not(:last-child) {
                margin-right: 20px;
            }
        }

        .icon-list__item:hover svg {
            stroke: #ffffff;
        }

    }

}